body {
  background: linear-gradient(to right, #1d3557, #e63946);
  font-family: 'Cairo', sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgba(0,0,0,0.4);
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  width: 90%;
  max-width: 500px;
}

input, button {
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin: 5px;
  font-size: 16px;
  width: 80%;
}

button {
  background-color: #f1faee;
  color: #1d3557;
  font-weight: bold;
  cursor: pointer;
}
