body {
    background: #0f0f0f;
    color: #fff;
    font-family: sans-serif;
    text-align: center;
    padding: 20px;
    direction: rtl;
}

#setupScreen input {
    width: 250px;
    padding: 10px;
    font-size: 18px;
}

#startBtn, #spinBtn {
    padding: 10px 25px;
    margin-top: 10px;
    font-size: 18px;
    cursor: pointer;
}

#gameUI {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

#leftSide {
    flex: 2;
}

#rightSide {
    flex: 1;
    background: #1b1b1b;
    padding: 10px;
    height: 500px;
    overflow-y: auto;
    border: 1px solid #444;
}

#wheelCanvas {
    border: 3px solid #fff;
    border-radius: 50%;
    margin-bottom: 10px;
}

.chatMessage {
    background: #222;
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
}
