body {
    text-align: center;
    font-family: sans-serif;
    background: #111;
    color: #fff;
}

#wheelCanvas {
    border: 3px solid #fff;
    border-radius: 50%;
    margin-bottom: 20px;
}

#spinBtn {
    padding: 10px 25px;
    font-size: 18px;
    cursor: pointer;
}
