body {
    margin: 0;
    font-family: Tahoma;
    background: radial-gradient(circle, #1b1b1b, #000);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

/* صفحة البداية */
.startContainer {
    background: rgba(255,255,255,0.1);
    padding: 25px;
    border-radius: 14px;
    text-align: center;
    backdrop-filter: blur(6px);
    border: 2px solid gold;
}
.startContainer input {
    width: 250px;
    padding: 10px;
    margin: 10px 0;
}
.startContainer button {
    padding: 10px 20px;
    cursor: pointer;
}

/* الصفحة الرئيسية */
.gameContainer {
    display: flex;
    gap: 20px;
}

.wheelArea {
    position: relative;
}

/* السهم */
.pointer {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 40px solid gold;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    filter: drop-shadow(0 0 6px gold);
    z-index: 10;
}

/* اللاعبين + الشات */
.rightPanel {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.playersBox {
    background: rgba(255,255,255,0.12);
    border: 2px solid gold;
    border-radius: 10px;
    padding: 8px 10px;
    height: 170px;
    overflow-y: auto;
    text-align: center;
    backdrop-filter: blur(6px);
}
.playersBox h3 {
    margin: 0 0 8px 0;
    color: gold;
}
.playersBox li {
    padding: 4px;
    color: white;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.chatBox {
    background: rgba(255,255,255,0.1);
    border: 2px solid gold;
    border-radius: 10px;
    height: 290px;
    overflow: hidden;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

/* الرسائل */
.chat-msg {
    margin-bottom: 4px;
    font-size: 14px;
    opacity: 1;
    transition: opacity 0.4s;
}
.removing {
    opacity: 0;
}

/* إضافة لاعبين */
.addPlayerBox {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 10px;
}
.addPlayerBox input {
    width: 150px;
    padding: 7px;
    text-align: center;
}

/* أزرار */
button {
    cursor: pointer;
    padding: 6px 15px;
}
.red {
    background: darkred;
    color: white;
}

/* نافذة الفائز */
.winnerModal {
    position: fixed;
    top:0; left:0;
    width:100%; height:100%;
    background: rgba(255,255,255,0.35);
    backdrop-filter: blur(8px);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.winnerBox {
    background: white;
    padding: 40px 70px;
    border-radius: 15px;
    border: 3px solid gold;
    box-shadow: 0 0 25px gold;
    color: #000;
    text-align: center;
}
#winnerName {
    font-size: 35px;
    margin-bottom: 25px;
    color: #000;
                     }
